﻿/* here you can put your own css to customize and override the theme */
.text-right {
    text-align: right;
}
.tooltip {
    z-index: 11511 !important;
}
.input-icon.right > .form-control {
    padding-right: 12px;
}
/*/////////////////////////////////////////////*/
/*Custom portlet*/
/*/////////////////////////////////////////////*/
.portlet.box.yellow-casablanca {
    border: 0px solid #f59c7b;
}
.portlet.box.blue-soft
{
    border: 0px solid;    
    }
.portlet.box.green-soft
{
    border: 0px solid;    
    }
.portlet.box.default {
    border: 1px solid #e1e5ec;
}

/*/////////////////////////////////////////////*/
/*Custom validate*/
/*/////////////////////////////////////////////*/
.has-success .input-group-addon
{
    color: #0b7079;
}

.required {
    color: #FF0000;
}

/*/////////////////////////////////////////////*/
/*Custom Calendar*/
/*/////////////////////////////////////////////*/
.portlet.calendar .fc-header
{
    margin-bottom:0px;
}

.portlet.calendar .fc-event .fc-content
{
    padding:1px 3px;
    }

.fc-event
{
    border:0px;
    }

.portlet.calendar .fc-event .fc-title
{
    float:none;
    }



.datepicker.dropdown-menu {
  padding: 5px;
  z-index: 9999;}
@media (min-width: 992px) {
  /* 992px */
  /* Page header */
  .page-header.navbar {
    /* Header logo */
    /* Search box */ }
    .page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .page-logo {
      padding: 0; }
    .page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .page-logo {
      width: 54px;
      margin-left: 20px;
      margin-right: 10px; }
      .page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .page-logo .logo-default {
        display: none; }
    .page-header.navbar .search-form.search-form-expanded {
      width: 175px; }
      .page-header.navbar .search-form.search-form-expanded .input-group .form-control {
        text-indent: 0;
        padding: 6px 12px; }
        .page-header.navbar .search-form.search-form-expanded .input-group .form-control:hover {
          cursor: text; }
  /* Boxed Layout */
  .page-boxed .page-header.navbar {
    /* Page logo */
    /* Page actions */
    /* Top menu */ }
    .page-boxed .page-header.navbar .page-logo {
      width: 340px;
      padding-right: 0; }
    .page-boxed .page-header.navbar .page-actions {
      margin-left: 40px; }
  /* Sidebar closed & logo hidden */
  .page-sidebar-closed.page-sidebar-closed-hide-logo.page-boxed .page-header.navbar {
    /* Page logo */ }
    .page-sidebar-closed.page-sidebar-closed-hide-logo.page-boxed .page-header.navbar .page-logo {
      width: 54px; }
  /* Boxed layout & page sidebar fixed layout */
  .page-boxed.page-sidebar-fixed .page-header.navbar {
    /* Page logo */ }
    .page-boxed.page-sidebar-fixed .page-header.navbar .page-logo {
      width: 235px; } }

       .page-header.navbar .page-logo {
    float: left;
    display: block;
    width: 235px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px; }

.pd15 {
    padding: 15px !important;
}

.mb2 {
    margin-bottom: 2px !important;
}

.mb5 {
    margin-bottom: 5px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb40 {
    margin-bottom: 40px !important;
}

.mt2 {
    margin-top: 2px !important;
}

.mt5 {
    margin-top: 5px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt40 {
    margin-top: 40px !important;
}

.has-error .panel-default > .panel-heading {
    background-color: #fbe1e3;
    border-color: #e73d4a;
    color: #e73d4a;
}

.has-error .panel-default {
    border-color: #e73d4a;
}

.input-group-addon {

}

.panel-dark {
    border-color: #2f353b;
}
    .panel-dark > .panel-heading {
        color: #fff;
        background-color: #2f353b;
        border-color: #2f353b;
    }

.panel-grey-mint {
    border-color: #525e64;
}

    .panel-grey-mint > .panel-heading {
        color: #fff;
        background-color: #525e64;
        border-color: #525e64;
    }

.alert-warning {
    background-color: #fffca5;
    border-color: #fffca5;
    color: #e47349;
}

.label-textarea {
    display: inline-block;
    padding: 5px 12px 2px 12px;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #eeeeee;
    color: #555555;
}

.has-success > .label-textarea {
    color: #27a4b0;
    border-color: #27a4b0;
    background-color: #defcff;
}
.has-success .input-group-addon {
    color: #27a4b0;
    border-color: #27a4b0;
    background-color: #defcff;
}

.input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
    border-radius: 3px;
}

.border {
    border: 1px solid white
}
