﻿@font-face {
    font-family: 'ITC Avant Garde Pro XLt';
    font-weight: normal;
    font-style: normal;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 ITC Avant Garde Pro XLt;
    font-size: inherit;
    text-rendering: auto;
}
.login-content {
    margin-top: 135px;
    padding-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    margin-left: 180px;
    margin-right: 180px;
    background-color: #191b17ad;
}

.form-control {
    font-family:Tahoma;
    background-color: #181911bd;
    border: 1px solid #808067;
}

.input-group-addon {
    background-color: #48483f;
    border: 1px solid #808067;
}

.btn-dk-login {
    color: #b18f8f;
    background-color: #48483f;
    border-color: #5f5f4d;
}

.backstretch {
    filter: blur(3px);
}

