﻿@{
    var province = Page.province;
    var district = Page.district;
    var jCustomer = Page.jCustomer;
    System.Text.StringBuilder district_option = new System.Text.StringBuilder();
}
<script type="text/javascript">
// PROVINCE & DISTRICT REFERENCE //
@for (var i = 0; i < district.Count; i++)
{
    district_option.Append("<option value=" + (i + 1) + " data-pid= " + district[i]["district_province_id"] + ">" + district[i]["district_name"] + " (" + district[i]["district_postcode"] + ")</option>");
}


    var district_text = '@Html.Raw(System.Text.RegularExpressions.Regex.Replace(district_option.ToString(), @"\t|\n|\r", ""))';

    //Add_Customer_Page ที่อยู่ลูกค้า
    //province > district
    $('#customer_address_province').on('change', function () {
        $('#customer_address_province').prop('disabled', false);
    $('#customer_address_district').prop('disabled', false);
    if ($(this).val()) {
    $('#customer_address_district').html('<option value="" data-pid="' + $(this).val() + '" selected> เลือกอำเภอ </option>' + district_text);
    $('#customer_address_district option[data-pid!="' + $(this).val() + '"]').remove();
    }
    else {
    $('#customer_address_district').html('<option value="" selected>เลือกอำเภอ</option>');
    $('#customer_address_district').prop('disabled', true);
    alert();
    }
    $('#customer_address_district').trigger('change');

    });

    // district > postcode
    $('#customer_address_district').on('change', function () {
    if ($(this).val()) {
    var dist_name = $("#customer_address_district option:selected").text();
    var zip_code = /\(([^)]+)\)/.exec(dist_name);
    $('#customer_address_postcode').val(zip_code[1]);
    }
    else {
    $('#customer_address_postcode').val('');
    }
    });

    @if (jCustomer != null) { 
        <text>
            $('#customer_address_province').val('@jCustomer["contact_province_id"]').trigger('change');
            $('#customer_address_district').val('@jCustomer["contact_district_id"]').trigger('change');
        </text>
    }

    //Add_Customer_Page พื้นที่บริการ
    // province > district
    $('#customer_service_province').on('change', function () {
    $('#customer_service_district').prop('disabled', false);
        if ($(this).val()) {
    $('#customer_service_district').html('<option value="" data-pid="' + $(this).val() + '" selected> เลือกอำเภอ </option>' + district_text);
    $('#customer_service_district option[data-pid!="' + $(this).val() + '"]').remove();
        }
    else {
    $('#customer_service_district').html('<option value="" selected>เลือกอำเภอ</option>');
    $('#customer_service_district').prop('disabled', true);
        }
    $('#customer_address_district').trigger('change');

    });

    // district > postcode
    $('#customer_service_district').on('change', function () {
        if ($(this).val()) {
            var dist_name = $("#customer_service_district option:selected").text();
            var zip_code = /\(([^)]+)\)/.exec(dist_name);
    $('#customer_service_postcode').val(zip_code[1]);
        }
    else {
    $('#customer_service_postcode').val('');
        }
    });

    // ----------------------------- //

   
    @if (jCustomer != null)
    { 
        <text>
    $('#customer_service_province').val('@jCustomer["location_province_id"]').trigger('change');
    $('#customer_service_district').val('@jCustomer["location_district_id"]').trigger('change');
        </text>
    }
    



   //ที่อยู่ทะเบียนประวัติลูกค้า (Customer Pofile)
    // province > district
    $('#address_province').on('change', function () {
    $('#address_aumpher').prop('disabled', false);
        if ($(this).val()) {
    $('#address_aumpher').html('<option value="" data-pid="' + $(this).val() + '" selected> เลือกอำเภอ </option>' + district_text);
    $('#address_aumpher option[data-pid!="' + $(this).val() + '"]').remove();
        }
    else {
    $('#address_aumpher').html('<option value="" selected>เลือกอำเภอ</option>');
    $('#address_aumpher').prop('disabled', true);
        }
    $('#address_aumpher').trigger('change');

    });

    // district > postcode
    $('#address_aumpher').on('change', function () {
        if ($(this).val()) {
            var dist_name =$("#address_aumpher option:selected").text();
            var zip_code = /\(([^)]+)\)/.exec(dist_name);
    $('#address_zipcode').val(zip_code[1]);
        }
    else {
    $('#address_zipcode').val('');
        }
    });

    // ----------------------------- //

   
    @if (jCustomer != null)
    { 
        <text>
    $('#address_province').val('@jCustomer["location_province_id"]').trigger('change');
    $('#address_aumpher').val('@jCustomer["location_district_id"]').trigger('change');
   // $('#address_zipcode').val('@jCustomer["district_postcode"]').trigger('change');
        </text>
    }

</script>