﻿@{ 
    var jObjectWorkingZone = @Page.jObjectWorkingZone;
    var jCustomer = @Page.jCustomer;
}
<script type="text/javascript">
    // -------------   link Page   ------------- //
    var url = '@Page.url';
    var window_location = '@Page.window_location';
    var id = @Page.id;

    // ------------- end link Page ------------- //

    //-------------- START CONNECT WITH FILE(customer_add_data) --------------//

    // FORM ข้อมูลลูกค้า
    var customer_data_form = $("#customer_data_form");

    var customer_code = $("#customer_code");
    var customer_company = $("#customer_company");
    var customer_call_with = $("#customer_call_with");
    var cutomer_work_position = $("#cutomer_work_position");
    var customer_name_prefix = $("#customer_name_prefix");
    var customer_name = $("#customer_name");
    var customer_address = $("#customer_address");
    var customer_address_province = $("#customer_address_province");
    var customer_address_district = $("#customer_address_district");
    var customer_address_postcode = $("#customer_address_postcode");
    var customer_address_telephone = $("#customer_address_telephone");
    var customer_address_email = $("#customer_address_email");

    var customer_tax_request = $("#customer_tax_request");
    var customer_tax_address = $("#customer_tax_address");
    var customer_tax_telephone = $("#customer_tax_telephone");
    var customer_tax_email = $("#customer_tax_email");
    //

    // พื้นที่ให้บริการ
    var customer_service_address = $("#customer_service_address");
    var customer_service_province = $("#customer_service_province");
    var customer_service_district = $("#customer_service_district");
    var customer_service_postcode = $("#customer_service_postcode");
    var customer_service_telephone = $("#customer_service_telephone");
    var customer_service_note = $("#customer_service_note");
    var customer_service_zone = $("#customer_service_zone");

    var customer_other_document = $("#customer_other_document");
    //

    //-------------- END CONNECT WITH FILE (customer_add_data) --------------//


    //----- START ใบกำกับภาษี -----//
    
    var check = false;
    $('#customer_tax_request').on('change', function () {
        if ($(this).is(':checked') == true) {
            $(this).val("1");
            $('#customer_tax_box').slideDown();
            $('#customer_tax_address').removeClass("hidden");

        }
        else {
            $(this).val("0");
            $('#customer_tax_box').slideUp();
            $('#customer_tax_address').addClass("hidden");
        }
    }).trigger('change');


        @if (jCustomer != null && jCustomer["is_reques_tax"] == 1) {
            <text>
                $('#customer_tax_request').attr("checked",true);
                $('#customer_tax_request').val("1");
            </text>
        }else
        {
            <text>
                $('#customer_tax_request').attr("checked",false);
                $('#customer_tax_request').val("0");
            </text>
        }

    if ($('#customer_tax_request').is(':checked') == true) {
        $('#customer_tax_request').val("1");
        $('#customer_tax_box').slideDown();
        
    }else{
        $('#customer_tax_request').val("0");
        $('#customer_tax_box').slideUp();

    }

    //----- END ใบกำกับภาษี -----//

    //Form Validate
    var error = $('.alert-danger', customer_data_form);
    var success = $('.alert-success', customer_data_form);

    customer_data_form.validate({
        errorElement: 'span', //default input error message container
        errorClass: 'help-block help-block-error', // default input error message class
        focusInvalid: false, // do not focus the last invalid input
        ignore: ":hidden",  // validate all fields including form hidden input

        rules: {
            customer_code: {
                required: true
            },
            customer_call_with: {
                required: true
            },
            customer_name_prefix: {
                required: true
            },
            customer_name: {
                required: true
            },
            customer_address_telephone: {
                minlength: 10,
                maxlength: 10,
                number:true
            },
            customer_address_province:{
                required: true
            },
            customer_address_district:{
                required: true
            },
            customer_tax_address:{
                required: true
            },
            customer_service_telephone:{
                minlength: 10,
                maxlength: 10,
                number: true
            }
            ,
            customer_service_address: {
                required: true
            },
            customer_service_zone: {
                required: true
            },
            customer_service_note: {
                required: true
            }

        },
        invalidHandler: function (event, validator) { //display error alert on form submit
            success.hide();
            error.show();
            App.scrollTo(error, -200);
        },

        errorPlacement: function (error, element) { // render error placement for each input type
            var icon = $(element).parent('.input-icon').children('i');
            icon.removeClass('fa-check').addClass("fa-warning");
            icon.attr("data-original-title", error.text()).tooltip({'container': 'body'});
        },

        highlight: function (element) { // hightlight error inputs
            $(element)
                .closest('.form-group').removeClass("has-success").addClass('has-error'); // set error class to the control group
        },

        unhighlight: function (element) { // revert the change done by hightlight

        },

        success: function (label, element) {
            var icon = $(element).parent('.input-icon').children('i');
            $(element).closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
            icon.removeClass("fa-warning").addClass("fa-check");
        },

        submitHandler: function (form) {
            success.show();
            error.hide();
            form[0].submit(); // submit the form
        }

    });


    customer_other_document.fileinput({
        showPreview: false,
        //showCaption: false,
        showRemove: false,
        showUpload: false,
        maxFileSize: 20000, // 20mb
    });

    //Customer_Service_Zone (Onchange) รหัสโซนบริการ


</script>