﻿@{
    ViewBag.Title = "NewSystemAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int id = ViewBag.id;
}

@section PageCss{
    
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject bold uppercase"> NEW SYSTEM ACCOUNT</span>
        </div>
    </div>    
    <form id="system_account">
        <div class="row">
            <div class="col-sm-6">
                <div class="col-md-4 col-sm-6">
                    <div class="dropzone" data-upload_title="profile_image" data-name="Profile_Image" data-image_check_name="1" data-has_image="" id="profile_image"></div>
                    <label class="control-label ">PROFILE IMAGE</label>
                </div>
            </div>
            <div class="col-sm-4">
                <b class="text-center col-sm-12 form-group">CREATE ACCOUNT</b>
                <div class="input-group form-group">                    
                    <span class="input-group-addon input-circle-left">
                        <i class="fa fa-user"></i>
                    </span>
                    <input type="text" id="username" class="form-control input-circle-right" placeholder="USERNAME">
                </div>
                <div class="input-group form-group">
                    <span class="input-group-addon input-circle-left">
                        <i class="fa fa-key"></i>
                    </span>
                    <input type="password" id="password" class="form-control input-circle-right" placeholder="PASSWORD">
                </div>
                <hr />
                <div class="form-group">
                    <label>FIRST NAME</label>
                    <input class="form-control" id="f_name" name="f_name" value="" />
                </div>
                <div class="form-group">
                    <label>LAST NAME</label>
                    <input class="form-control" id="l_name" name="l_name" value="" />
                </div>
                <div class="form-group">
                    <label>TELEPHONE</label>
                    <input class="form-control" id="telephone" name="telephone" value="" />
                </div>
                <div class="form-group">
                    <label>EMAIL</label>
                    <input class="form-control" id="email" name="email" type="email" value="" />
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-info" id="submit_system_account">CREATE</button>
        <button type="button" class="btn btn-default" id="cancle">RESET</button>
    </form>
</div>


@section PageJavascriptPre{
    
}

@section PageJavascript{
<script type="text/javascript">
    $('#submit_system_account').on('click', function () {
        submitSystemAccount();
    });

    function submitSystemAccount() {

        var username = $('#username').val();
        var password = $('#password').val();
        var f_name = $('#f_name').val();
        var l_name = $('#l_name').val();
        var telephone = $('#telephone').val();
        var email = $('#email').val();

        App.blockUI();
        $.ajax({
        url: '@Url.Action("SubmitSystemAccount", "AjaxData")',
        type: 'POST',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify({

            username: username,
            password: password,
            f_name: f_name,
            l_name: l_name,
            telephone: telephone,
            email: email,
        }),
        success: function (result) {
            App.unblockUI();

            if (result.startsWith("SUCCESS")) {

                bootbox.alert("SUCCESS", function () {
                    window.location.reload();
                });
            }
            else {
                bootbox.alert("Error: Data corrupt, " + result);
                return;
            }
        }
        });
    }
</script>

<script>
    // ======= DROBZONE ========= //
    $(".dropzone").each(function (index, element) {
        var title = $(element).data("upload_title");
        var selector_id = "#" + $(element).data("name");
        var ref_image_check = $(element).data("image_check_name");
        var filename = $(element).data("name"); //not use because can file name will auto generate

        var newDropzone = new Dropzone(selector_id, {
            url: "@Url.Action("AjaxUploadFile", "AjaxData")?path=system_account\\@id\\&filename=" + filename,
            maxFiles: 1,
            addRemoveLinks: true,
            acceptedFiles: ".jpg,.png,.gif,.jpeg",
            dictDefaultMessage: "<div><i class='fa fa-cloud-upload fa-3x'></i></div><div><b>" + title +"</b></div>",
            init: function () {
                this.on("complete", function (file) {
                    $(".dz-remove").html('<i class="fa fa-trash-o"></i> Remove');
                });
                this.on("addedfile", function (file) {
                    $(".dz-remove").html('<i class="fa fa-trash-o"></i> Remove');
                });
                this.on("maxfilesexceeded", function(file){
                    newDropzone.removeAllFiles();
                    newDropzone.options.maxFiles = 1;
                    newDropzone.addFile(file);
                });
            },
            success: function (file, response) {
                var jsonResult = JSON.parse(response);
                if (jsonResult["result"] == "1") {
                    file.previewElement.classList.add("dz-success");
                    image_json_data.push({ fileRef: ref_image_check, fileName: jsonResult["fileName"], fileUrl: jsonResult["fileUrl"] });
                }
                else {
                    file.previewElement.classList.add("dz-error");
                }
            },
            removedfile: function (file) {
                var _ref;
                if (file.previewElement) {
                    if ((_ref = file.previewElement) != null) {
                        _ref.parentNode.removeChild(file.previewElement);
                        $(image_json_data).each(function (index, item) {
                            if (item.fileRef === ref_image_check) {
                                image_json_data.splice(index, 1);
                            }
                        });
                    }
                }
            }
        });
        if ($(this).data('has_image') == 1){
            var mockFile = { name: 'Profile_Image.jpg', size: 102400 };
            newDropzone.emit("addedfile", mockFile);
            newDropzone.emit("thumbnail", mockFile, `@(MYOWN_CMS_WEBSITE.Class.DataFactory.URL_MYOWN_CONTENT_UPLOAD)system_account/@id/Profile_Image.jpg`);
            newDropzone.emit("complete", mockFile);

            newDropzone.files.push(mockFile);
            newDropzone.options.maxFiles = 0;

            image_json_data.push({ fileRef: ref_image_check, fileName: "", fileUrl: Profile_Image });
        }
        i++;

    });
</script>
}