﻿
@{
    ViewBag.Title = "NewBar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageCss{
    <link href="~/Content/assets/css/plugins.min.css" rel="stylesheet" />
}
<!--=== BEGIN Progress bar ===-->
<div class="row">
    <div class="col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="progress-info">
                <div class="progress">
                    <span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
                        <span class="sr-only">76% progress</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title"> progress </div>
                    <div class="status-number"> 76% </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=== END Progress bar ===-->
<!--=== BEGIN PORTLET ===-->
<div class="portlet light border">
    <div class="portlet-title">
        <span>HEAD</span>
    </div>
    <div class="portlet-body">

    </div>
</div>
<!--=== END PORTLET ===-->

@section PageJavascriptPre{
<script src="~/Content/assets/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
}
