﻿@{
    var search = Page.search;
}

<script type="text/javascript">
    var result_table = $('#search_table_customerbranch').DataTable({
        "bFilter": false,
        "order": [[ 0, 'asc' ]],
        "aLengthMenu": [
            [25, 50, 100],
            [25, 50, 100] // change per page values here
        ],
        "columns": [
            { "data": "job_no" },
            { "data": "job_contract_number"},
            { "data": "job_zone" },
            { "data": "job_date" },
            { "data": "job_status" }
        ],
        // set the initial value
        "iDisplayStart": 0,
        "iDisplayLength": 25,
        "fnPreDrawCallback": function () {
            App.blockUI({
                target: '#search_table_customerbranch',
                boxed: true,
                message: 'Loading...'
            })
        },
        "fnDrawCallback": function () {
            App.unblockUI('#search_table_customerbranch');
        },
        "bServerSide": true,
        "sAjaxSource": '../AjaxData/RequestDataTable',
        "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
            aoData.push({ "name": "id", "value": "@Page.id" });
            @if (search == "1")
            { <text>aoData.push({ "name": "sSearch", "value": "@Page.qString" });</text> }
                aoData.push({ "name": "table", "value": "105" });
                oSettings.jqXHR = $.ajax({
                    "dataType": 'json',
                    "type": "POST",
                    "url": sSource,
                    "data": aoData,
                    "success": function (response) {
                        response = JSON.parse(response);
                        fnCallback(response);
                    }
                });
            },
            "scrollX": false
        });

//    $("#search_table tbody").on('click', 'tr', function () {
//    
//        var data = result_table.row(this).data();
//        if (data.id == null || typeof(data.id) == "undefined" ||data.id == "No data available in table") {
//            return;
//        }
//        var window_popup = window.open('CustomerBtanch?id=' + data.id , '_blank');
//    });
</script>