﻿<script type="text/javascript">
    
    $('#btn_update_profile').on('click', function () {

        var data = new FormData();

        data.append("tel", telephone.val());
        data.append("mobile", mobile.val());
        data.append("fax", fax.val());
        data.append("email", email.val());
        data.append("emp_profile",img_profile);
        
        $.ajax({
            url: '../AjaxData/WebSubmitProfileData',
            type: 'POST',
            data: data,
            cache: false,
            processData: false, // Don't process the files
            contentType: false, // Set content type to false as jQuery will tell the server its a query string request
            //contentType: 'application/json; charset=utf-8',
            success: function (result) {
                if (result.startsWith("ERROR:", 0) === 0) {
                    bootbox.alert("พบปัญหา: " + result, function () {
                        Metronic.unblockUI();
                    });
                }

                else if (result == "SUCCESS") {
                    var message = "<h4>อัพเดทเรียบร้อย!</h4>";
   
                    bootbox.alert(message, function () {
                        window.location = '../Home/Profile';
                    });
                }

            }
        });
    });
</script>