﻿<script type="text/javascript">
$('#btn_save_newpassword').on('click', function () {

        var data = new FormData();
       
        data.append("username", username.val());
        data.append("oldpassword", oldpassword.val());
        data.append("newpassword", newpassword.val());
        data.append("commitpassword", commitpassword.val());

        $.ajax({
            url: '../AjaxData/WebSubmitUpdatePassword',
            type: 'POST',
            data: data,
            cache: false,
            processData: false, // Don't process the files
            contentType: false, // Set content type to false as jQuery will tell the server its a query string request
            //contentType: 'application/json; charset=utf-8',
            success: function (result) {
            if (result.startsWith("ERROR", 0) === 0) {
            bootbox.alert("พบปัญหา: " + result, function () {
            Metronic.unblockUI();
            });
            }

            else if (result == "SUCCESS") {
            var message = "<h4>เปลี่ยนรหัสผ่านเรียบร้อย</h4>";

            bootbox.alert(message, function () {
            window.location = '../Home/Profile';
            });
            }
            else {
            bootbox.alert(result, function () {

            });
            }

            }
            });
});
</script>