﻿<script type="text/javascript">
    var url = '@Page.url';

    var allFile = new Array();

    Dropzone.options.myDropzone = {
        url:"@Page.dropzone_url",
        init: function () {
            this.on("addedfile", function (file) {
                // Create the remove button
                var removeButton = Dropzone.createElement("<a href='javascript:;'' class='btn red btn-sm btn-block'>Remove</a>");

                // Capture the Dropzone instance as closure.
                var _this = this;

                // Listen to the click event
                removeButton.addEventListener("click", function (e) {
                    // Make sure the button click doesn't submit the form:
                    e.preventDefault();
                    e.stopPropagation();

                    // Remove the file preview.
                    _this.removeFile(file);
                    // If you want to the delete the file on the server as well,
                    // you can do the AJAX request here.
                });

                // Add the button to the file preview element.
                file.previewElement.appendChild(removeButton);
            });

//            this.on("success", function (file,respond) {
//                var jsonResult = JSON.parse(response);
//                    if (jsonResult["result"] == "1") {
//                        file.previewElement.classList.add("dz-success");
//                        uploadFileName_3rd_outside_@@(product_id).push(jsonResult["fileName"].toString());
//                        uploadFileUrl_3rd_outside_@@(product_id).push(jsonResult["fileUrl"].toString());
//                        toastr.success('Success', 'Upload file ' + jsonResult["fileName"]  + ' success.');
//                    }
//                    else {
//                        file.previewElement.classList.add("dz-error");
//                        toastr.error('Error', 'Upload file ' + jsonResult["fileName"]  + ' failed. Error message: ' + jsonResult["error"]);
//                    }
//            });

//            this.on("removedfile", function(file){
//                bootbox.confirm('Please confirm to delete file ' + file.name, function(result) {
//                    if (result) {
//                        var uplf = uploadFileName_3rd_outside_@@(product_id);
//                        for(var i=0; i < uplf.length; i++) {
//                            if(uplf[i] == file.name.replace(/\.[^/.]+$/, "")) {
//                                uploadFileName_3rd_outside_@@(product_id).splice(i, 1);
//                                uploadFileUrl_3rd_outside_@@(product_id).splice(i, 1);
//                                var _ref;
//                                if (file.previewElement) {
//                                    if ((_ref = file.previewElement) != null) {
//                                    _ref.parentNode.removeChild(file.previewElement);
//                                    }
//                                }
//                                break;
//                            }
//                        }
//                    }
//                });
//            });
        }
    };
</script>