﻿@{
    var search = Page.search;
}
<script type="text/javascript">
    var result_table = $('#search_table').DataTable({
        "bFilter": false,
        "order": [[ 0, 'asc' ]],
        "aLengthMenu": [
            [25, 50, 100],
            [25, 50, 100] // change per page values here
        ],
        "columns": [
            { "data": "id" },
            {  "data": "emp_name" ,
               "render": function (data, type, JsonResultRow, meta ,row) {
                            return '<img src="../Content/assets/img/default_profile.png" width="25px" height="25px" style="margin-left: auto; float:left; margin-right:10px;">' + data ;
                      }  
            },
     
//          { "data": "emp_name" },
            { "data": "emp_email"},
            { "data": "emp_tel" },
            { "data": "acc_username" },
            { "data": "acc_role" }
            
        ],
        // set the initial value
        "iDisplayStart": 0,
        "iDisplayLength": 25,
        "fnPreDrawCallback": function () {
            App.blockUI({
                target: '#search_table',
                boxed: true,
                message: 'Loading...'
                })
        },
        "fnDrawCallback": function () {
            App.unblockUI('#search_table');
        },
        "bServerSide": true,
        "sAjaxSource": '../AjaxData/RequestDataTable',
        "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
            aoData.push({ "name": "pid", "value": "0" });
            @if (search == "1")
            { <text>aoData.push({ "name": "sSearch", "value": "@Page.qString" });</text> }
            aoData.push({ "name": "table", "value": "901" });
            oSettings.jqXHR = $.ajax({
                "dataType": 'json',
                "type": "POST",
                "url": sSource,
                "data": aoData,
                "success": function (response) {
                    response = JSON.parse(response);
                    fnCallback(response);
                }
            });
        },
        "scrollX": false
    });

    $("#search_table tbody").on('click', 'tr', function () {
    
        var data = result_table.row(this).data();
        if (data.id == null || typeof(data.id) == "undefined" ||data.id == "No data available in table") {
            return;
        }
        var window_popup = window.open('SystemAccountProfile?id=' + data.id , '_blank');
    });


//    $("#reload_btn").on("click", function(e){
//            e.preventDefault(),
//            e.stopPropagation(),
//            App.blockUI({
//                target: '#search_table',
//                boxed: true,
//                message: 'Loading...'
//                });
//            result_table.ajax.reload();
//    });
</script> 