﻿
@{
    ViewBag.Title = "";
}

<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="utf-8" />
        <title>Login | Drink Water</title>
        <meta http-equiv="X-UA-Compatible" content="IE-edge" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="DK Login Page" name="description"/>
        <meta content="" name="author" />

        <link href="~/Content/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/assets/css/components.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/assets/css/DK-Login.css" rel="stylesheet" />
    </head>
    <body>
        <form action="@Url.Action("Authentication","Signin")" method="post">
            <div class="login-content row">
                <div class="present-contianer col-md-7">
                    <img src="~/Content/assets/img/login_content.jpg" style="width:100%;" />
                </div>
                <div class="dk-login-contianer col-md-5">
                    <div class="text-center">
                        <img src="~/Content/assets/img/DW Logo.png" style="width:80%;" />
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-8">
                            <b style="color:#808080; font-family:'ITC Avant Garde Gothic Pro'; font-size:20px;">USERNAME</b>
                            <input class="form-control" type="text" id="username" name="username" />
                            <b style="color:#808080; font-family:'ITC Avant Garde Gothic Pro'; font-size:20px;">PASSWORD</b>
                            <input class="form-control" type="password" id="password" name="password" />
                        </div>
                        <div class="col-sm-4">
                            <button href="" type="submit" class="btn btn-dk-login" style="padding:30px; margin-top:30px;">Signin</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <script src="~/Content/assets/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="~/Content/assets/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="~/Content/assets/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
        <script>
            $.backstretch("../Content/assets/img/login_background.jpg");
        </script>
    </body>
</html>

