﻿@{
    var search = Page.search;
}
<script type="text/javascript">
    var result_table = $('#search_table').dataTable({
        "bFilter": false,
        "order": [[ 0, 'asc' ]],
        "aLengthMenu": [
            [25, 50, 100],
            [25, 50, 100] // change per page values here
        ],
        "columns": [
            { "data": "id" },
            { "data": "b_name" },
            { "data": "b_tel" },
            { "data": "b_fax" },
            { "data": "b_email" },
            { "data": "b_zone" },
           //,
//            { "data": "business_working_zone_name" }
        ],
        // set the initial value
        "iDisplayStart": 0,
        "iDisplayLength": 25,
        "fnPreDrawCallback": function () {
            App.blockUI({
                target: '#search_table',
                boxed: true,
                message: 'Loading...'
                })
        },
        "fnDrawCallback": function () {
            App.unblockUI('#search_table');
        },
        "bServerSide": true,
        "sAjaxSource": '../AjaxData/RequestDataTable',
        "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
            aoData.push({ "name": "pid", "value": "0" });
            @if (search == "1")
            { <text>aoData.push({ "name": "sSearch", "value": "@Page.qString" });</text> }
            aoData.push({ "name": "table", "value": "601" });
            oSettings.jqXHR = $.ajax({
                "dataType": 'json',
                "type": "POST",
                "url": sSource,
                "data": aoData,
                "success": function (response) {
                    response = JSON.parse(response);
                    fnCallback(response);
                }
            });
        },
        "scrollX": false
    });

    $("#search_table tbody").on('click', 'tr', function () {
        var id = $(this).find('td:nth-child(1)').html();
        if (id == null || typeof(id) == "undefined" ||id == "No data available in table") {
            return;
        }
        var window_popup = window.open('Branch?id=' + id , '_blank');
    });
</script> 
