﻿<script type="text/javascript">

    $('#search_text').keyup(function(e){
            if(e.keyCode == 13)
            {
                $('#search_submit').trigger("click");
            }
        });

    $('#search_btn').on('click', function (e) {
            e.preventDefault();
            
            App.blockUI({
            target: '#search_table',
            boxed: true,
            message: 'Loading...'
            });

            var addition = "?search=1";
            if ($.trim($('#search_text').val()).length !== 0) {
                addition += "&q=" + $.trim($('#search_text').val());
            }

            
            if (addition != "?search=1") {
                window.location.href = '../Branch/SearchBranch' + (addition);
            }
            else {
                window.location.href = '../Branch/SearchBranch';
            }
        });

        //if has search value
        @if (Request.Params["search"] == "1")
        {
            <text>
            $('#search_text').val('@Request.Params["q"]');
            </text>
            
        }
        else
        { 
            <text>
            $('#search_result_container .portlet-body .expand').removeClass("collapse").addClass("expand");
            $('#search_result_container .portlet-body').slideDown();
            </text>
        }
    $('#reset_btn').on('click', function (e) {
            e.preventDefault();
            window.location.href = url;
        });
</script>
