﻿@{ 
    var jAllBusinessUnitObject = Page.jAllBusinessUnitObject;
    System.Text.StringBuilder business_unit_all_result = new System.Text.StringBuilder();
}

<script type="text/javascript">
/*
    var result_table = $('#permission_table').DataTable({
        "bFilter": false,
        "order": [[ 0, 'asc' ]],
        "aLengthMenu": [
            [25, 50, 100],
            [25, 50, 100] // change per page values here
        ],
        "columns": [
            { "data": "no" },
            { "data": "business_unit_id" },
            { "data": "position_level" },
            { "data": "is_view" },
            { "data": "is_insert" },
            { "data": "is_update" },
            { "data": "is_delete" },
            { "data": null,
              "mRender": function () { return '<a id=edit_permission class=btn green btn-outline sbold>' + 'Edit' + '</a>'; }
            }
        ],
        // set the initial value
        "iDisplayStart": 0,
        "iDisplayLength": 25,
        "fnPreDrawCallback": function () {
            App.blockUI({
                target: '#permission_table',
                boxed: true,
                message: 'Loading...'
                })
        },
        "fnDrawCallback": function () {
            App.unblockUI('#permission_table');
        },
        "bServerSide": true,
        "sAjaxSource": '../AjaxData/RequestDataTable',
        "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
            aoData.push({ "name": "role", "value": role_select.val() });
            aoData.push({ "name": "table", "value": "902" });
            oSettings.jqXHR = $.ajax({
                "dataType": 'json',
                "type": "POST",
                "url": sSource,
                "data": aoData,
                "success": function (response) {
                    response = JSON.parse(response);
                    fnCallback(response);
                }
            });
        },
        "scrollX": false
    });

    role_select.on("change", function () {
        App.blockUI({
            target: '#permission_table',
            boxed: true,
            message: 'Loading...'
        });
        result_table.ajax.reload();
    });

//    function generateRowAction() {
//        return '<div class="btn-group btn-group-circle" style="white-space: nowrap;float: none;display: inline-block;">' +
//            '<button type="button" class="btn green btn-sm" style="float: none;display: inline-block;" onclick="' + "onClickEditPermission($(this).closest('tr'))" + '"><i class="fa fa-pencil"></i></button>' +
//            '<button type="button" class="btn red btn-sm" style="float: none;display: inline-block;"><i class="fa fa-trash"></i></button>' +
//        '</div>';
////        return "<a href='javascript:;' class='btn btn-sm green col-md-6'><i class='fa fa-pencil'></i></a>" +
////               "<a href='javascript:;' class='btn btn-sm red col-md-6'><i class='fa fa-trash'></i></a>";
//    }

//    function onClickEditPermission(row) {
//        var t = row.closest("table");
//        var a = $(">td", row);

//            a[1].innerHTML = '<input type="text" class="form-control" value="' + 1 + '">';
//            a[2].innerHTML = '<input type="text" class="form-control" value="' + 2 + '">';
//            a[3].innerHTML = '<input type="text" class="form-control" value="' + 3 + '">';
//            a[4].innerHTML = '<input type="text" class="form-control" value="' + 4 + '">';
//            a[5].innerHTML = '<input type="text" class="form-control" value="' + 4 + '">';
//            a[6].innerHTML = '<input type="text" class="form-control" value="' + 4 + '">';
//            a[7].innerHTML = '<div class="btn-group btn-group-circle" style="white-space: nowrap;float: none;display: inline-block;">' +
//                             '<button type="button" class="btn green btn-sm" style="float: none;display: inline-block;" onclick="' + "onSaveRow(row)" + '"><i class="fa fa-save"></i></button>' +
//                             '<button type="button" class="btn red btn-sm" style="float: none;display: inline-block;">Cancel</button>' +
//                             '</div>';
//        }
*/
//===============================================================================================================================================//

    function restoreRow(oTable, nRow) {
        var aData = oTable.fnGetData(nRow);
        var jqTds = $('>td', nRow);

        for (var i = 0, iLen = jqTds.length; i < iLen; i++) {
            oTable.fnUpdate(aData[i], nRow, i, false);
        }
        //oTable.api().ajax.reload();
        oTable.fnDraw();
    }

    function editRow(oTable, nRow) {
        //var aData = oTable.row(nRow).data();
        var aData = oTable.fnGetData(nRow);
        var jqTds = $('>td', nRow);
        @foreach (var _business in jAllBusinessUnitObject)
        {
            business_unit_all_result.Append("<option value=\""+_business["business_unit_all_id"]+"\"> "+ _business["business_unit_all_name"] + "</option>");
        }

        var business_unit_all_result_text = '@Html.Raw(System.Text.RegularExpressions.Regex.Replace(business_unit_all_result.ToString(), @"\t|\n|\r", ""))';

        //var html_test = '<div id="testcheckbox" class="skin skin-flat"><label><input id="is_view" name="is_view" type="checkbox" class="icheck" data-checkbox="icheckbox_flat-orange"> </label></div>';
        jqTds[0].innerHTML = '<input type="text" class="form-control" value="' + aData["id"] + '">';
        jqTds[1].innerHTML =  '<select id="select_business_unit" class="form-control select2"><option></option>'+business_unit_all_result_text+'</select>';
        jqTds[2].innerHTML = '<input type="text" class="form-control" value="' + aData["position_level"] + '">';
        jqTds[3].innerHTML = '<div class="text-center skin skin-flat"><label><input id="is_view" name="is_view" type="checkbox" class="icheck icheckbox_flat-orange"></label></div>';
        jqTds[4].innerHTML = '<div class="text-center skin skin-flat"><label><input id="is_insert" name="is_insert" type="checkbox" class="icheck icheckbox_flat-orange"></label></div>';
        jqTds[5].innerHTML = '<div class="text-center skin skin-flat"><label><input id="is_update" name="is_update" type="checkbox" class="icheck icheckbox_flat-orange"></label></div>';
        jqTds[6].innerHTML = '<div class="text-center skin skin-flat"><label><input id="is_delete" name="is_delete" type="checkbox" class="icheck icheckbox_flat-orange"></label></div>';

        var html = '<div class="text-center"><div class="btn-group btn-group-circle" style="white-space: nowrap;float: none;display: inline-block;">' +
                    '<button type="button" class="btn green edit" style="float: none;display: inline-block;"><i class="fa fa-save"></i></button>' +
                    '<button type="button" class="btn red cancel" style="float: none;display: inline-block;"><i class="fa fa-times"></i></button>' +
                    '</div></div>';
        jqTds[7].innerHTML = html;

        if (aData["business_unit_id"] != null) {
            $('#select_business_unit').val(aData["business_unit_id"]).trigger('change');
        }

        

        if (aData["is_view"] == 1) {
            $('#is_view').prop('checked',true);
        } else {
            $('#is_view').prop('checked',false);
        }
        if (aData["is_insert"] == 1) {
            $('#is_insert').prop('checked', true);
        } else {
            $('#is_insert').prop('checked', false);
        }
        if (aData["is_update"] == 1) {
            $('#is_update').prop('checked', true);
        } else {
            $('#is_update').prop('checked', false);
        }
        if (aData["is_delete"] == 1) {
            $('#is_delete').prop('checked', true);
        } else {
            $('#is_delete').prop('checked', false);
        }

        $(document).ready(function(){
            $('input').iCheck({
                checkboxClass: 'icheckbox_flat-orange'
            });
        });
    }

    function saveRow(oTable, nRow) {
        var jqInputs = $('input', nRow);
        //var cells = nRow.cells;

        var is_view = 0;
        var is_insert = 0;
        var is_update = 0;
        var is_delete = 0;

        if ($('#is_view').is(':checked') == true) {
            is_view = 1;
        }

        if ($('#is_insert').is(':checked') == true) {
            is_insert = 1;
        }

        if ($('#is_update').is(':checked') == true) {
            is_update = 1;
        }

        if ($('#is_delete').is(':checked') == true) {
            is_delete = 1;
        }
        var select_business_unit = 0;

        select_business_unit = parseInt($('#select_business_unit').val());
        var data = new FormData();
        data.append("id", jqInputs[0].value);
        data.append("r_id", role_select.val());
        data.append("bu_id", select_business_unit);
        data.append("p_level", jqInputs[1].value);
        data.append("is_view", is_view);
        data.append("is_insert", is_insert);
        data.append("is_update", is_update);
        data.append("is_delete", is_delete);
        //Call SubmitData
        $.ajax({
            url: '../AjaxData/WebSubmitRolePermission',
            type: 'POST',
            data: data,
            cache: false,
            processData: false, // Don't process the files
            contentType: false, // Set content type to false as jQuery will tell the server its a query string request
            //contentType: 'application/json; charset=utf-8',
            "success": function (response) {
//                alert(response);
                if (response.startsWith("@BUGS_CMS_WEBSITE.Class.ResultData.CODE_SUCCESS")) {
                    bootbox.alert("SUCCESS!");
                    oTable.fnUpdate(jqInputs[0].value, nRow, 0, false);
                    oTable.fnUpdate(jqInputs[1].value, nRow, 2, false);
                    //oTable.fnUpdate(jqInputs[2].value, nRow, 2, false);
                    //oTable.fnUpdate(jqInputs[3].value, nRow, 3, false);
                    //oTable.fnUpdate(jqInputs[4].value, nRow, 4, false);
                    //oTable.fnUpdate(jqInputs[5].value, nRow, 5, false);
                    //oTable.fnUpdate(jqInputs[6].value, nRow, 6, false);
                    var html = '<div class="text-center"><div class="btn-group btn-group-circle" style="white-space: nowrap;float: none;display: inline-block;">' +
                    '<button type="button" class="btn green edit" style="float: none;display: inline-block;"><i class="fa fa-pencil"></i></button>' +
                    '<button type="button" class="btn red delete" style="float: none;display: inline-block;"><i class="fa fa-trash"></i></button>' +
                    '</div></div>';
                    oTable.fnUpdate(html, nRow, 7, false);
                    oTable.fnDraw();

                }
            }
        });


//        oTable.fnUpdate(jqInputs[0].value, nRow, 0, false);
//        oTable.fnUpdate(jqInputs[1].value, nRow, 1, false);
//        oTable.fnUpdate(jqInputs[2].value, nRow, 2, false);
//        oTable.fnUpdate(jqInputs[3].value, nRow, 3, false);
//        oTable.fnUpdate(jqInputs[4].value, nRow, 4, false);
//        oTable.fnUpdate(jqInputs[5].value, nRow, 5, false);
//        oTable.fnUpdate(jqInputs[6].value, nRow, 6, false);

        //oTable.fnUpdate(html, nRow, 7, false);
        //oTable.fnUpdate('<a class="delete" href="">Delete</a>', nRow, 5, false);
        //oTable.draw(false);
    }

    function cancelEditRow(oTable, nRow) {
        var jqInputs = $('input', nRow);
        oTable.fnUpdate(jqInputs[0].value, nRow, 0, false);
        oTable.fnUpdate(jqInputs[1].value, nRow, 1, false);
        oTable.fnUpdate(jqInputs[2].value, nRow, 2, false);
        oTable.fnUpdate(jqInputs[3].value, nRow, 3, false);
        oTable.fnUpdate(jqInputs[4].value, nRow, 4, false);
        oTable.fnUpdate(jqInputs[5].value, nRow, 5, false);
        oTable.fnUpdate(jqInputs[6].value, nRow, 6, false);
        var html = '<div class="text-center"><div class="btn-group btn-group-circle" style="white-space: nowrap;float: none;display: inline-block;">' +
                    '<button type="button" class="btn green edit" style="float: none;display: inline-block;"><i class="fa fa-save"></i></button>' +
                    '<button type="button" class="btn red delete" style="float: none;display: inline-block;"><i class="fa fa-times"></i></button>' +
                    '</div></div>';
        oTable.fnUpdate(html, nRow, 7, false);
        oTable.fnDraw();
    }

    var table = $('#permission_table');

    var oTable = table.dataTable({
        "searching": false,
        "order": [[0, 'asc']],
        "lengthMenu": [
                    [25, 50, 100],
                    [25, 50, 100] // change per page values here
                ],
        "columns": [
                    { "data": "id" },
                    { "data": generateBusinessUnit },
                    { "data": "position_level" },
                    { "data": generateCheckBoxViewPermission },
                    { "data": generateCheckBoxInsertPermission },
                    { "data": generateCheckBoxUpdatePermission },
                    { "data": generateCheckBoxDeletePermission },
                    { "data": generateRowAction }
                ],
        // set the initial value
        "displayStart": 0,
        "iDisplayLength": 25,
        "fnPreDrawCallback": function () {
            App.blockUI({
                target: '#permission_table',
                boxed: true,
                message: 'Loading...'
            })
        },
        "fnDrawCallback": function () {
            App.unblockUI('#permission_table');
        },
        "bServerSide": true,
        "sAjaxSource": '../AjaxData/RequestDataTable',
        "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
            aoData.push({ "name": "role", "value": role_select.val() });
            aoData.push({ "name": "table", "value": "902" });
            oSettings.jqXHR = $.ajax({
                "dataType": 'json',
                "type": "POST",
                "url": sSource,
                "data": aoData,
                "success": function (response) {
                    response = JSON.parse(response);
                    fnCallback(response);
                }
            });
        },
        "scrollX": false
    });

    var tableWrapper = $("#permission_table_wrapper");

    var nEditing = null;
    var nNew = false;

    //            $('#sample_editable_1_new').click(function (e) {
    //                e.preventDefault();

    //                if (nNew && nEditing) {
    //                    if (confirm("Previose row not saved. Do you want to save it ?")) {
    //                        saveRow(oTable, nEditing); // save
    //                        $(nEditing).find("td:first").html("Untitled");
    //                        nEditing = null;
    //                        nNew = false;

    //                    } else {
    //                        oTable.fnDeleteRow(nEditing); // cancel
    //                        nEditing = null;
    //                        nNew = false;

    //                        return;
    //                    }
    //                }

    //                var aiNew = oTable.fnAddData(['', '', '', '', '', '']);
    //                var nRow = oTable.fnGetNodes(aiNew[0]);
    //                editRow(oTable, nRow);
    //                nEditing = nRow;
    //                nNew = true;
    //            });

    table.on('click', '.delete', function (e) {
        e.preventDefault();

        if (confirm("Are you sure to delete this row ?") == false) {
            return;
        }

        var nRow = $(this).parents('tr')[0];
        oTable.fnDeleteRow(nRow);
        alert("Deleted! Do not forget to do some ajax to sync with backend :)");
    });

    table.on('click', '.cancel', function (e) {
        e.preventDefault();
        if (nNew) {
            oTable.fnDeleteRow(nEditing);
            nEditing = null;
            nNew = false;
        } else {
            restoreRow(oTable, nEditing);
            nEditing = null;
        }
    });

    table.on('click', '.edit', function (e) {
        e.preventDefault();
        nNew = false;
        /* Get the row as a parent of the link that was clicked on */
        var nRow = $(this).parents('tr')[0];
        if (nEditing !== null && nEditing != nRow) {
            /* Currently editing - but not this row - restore the old before continuing to edit mode */
            bootbox.alert("Please cancel your editing row.");
            //restoreRow(oTable, nEditing);
            //editRow(oTable, nRow);
            //nEditing = nRow;
        } else if (nEditing == nRow && this.innerHTML == '<i class="fa fa-save"></i>') {
            /* Editing this row and want to save it */
            saveRow(oTable, nEditing);
            nEditing = null;
        } else {
            /* No edit in progress - let's start one */
            editRow(oTable, nRow);
            nEditing = nRow;
        }
    });

    function generateBusinessUnit(data, type, dataToSet) {
        var result = null;
        @foreach (var _business in jAllBusinessUnitObject)
        {
            <text>
            if ( data['business_unit_id'] == @(_business["business_unit_all_id"]))
            {
               result = '@_business["business_unit_all_name"]';
            }
            </text>
        }
        return result;
    }

    function generateCheckBoxViewPermission(data, type, dataToSet) {
        var html = null;
        if (data['is_view'] == 1) {
            html = '<div class="text-center"><i class="fa fa-check font-yellow-casablanca"></i></div>';
        } else {
            html = '<div class="text-center"><i class="fa fa-minus font-yellow-casablanca"></i></div>';
        }
        return html;
    }

    function generateCheckBoxInsertPermission(data, type, dataToSet) {
        var html = null;
        if (data['is_insert'] == 1) {
            html = '<div class="text-center"><i class="fa fa-check font-yellow-casablanca"></i></div>';
        } else {
            html = '<div class="text-center"><i class="fa fa-minus font-yellow-casablanca"></i></div>';
        }
        return html;
    }

    function generateCheckBoxUpdatePermission(data, type, dataToSet) {
        var html = null;
        if (data['is_update'] == 1) {
            html = '<div class="text-center"><i class="fa fa-check font-yellow-casablanca"></i></div>';
        } else {
            html = '<div class="text-center"><i class="fa fa-minus font-yellow-casablanca"></i></div>';
        }
        return html;
    }

    function generateCheckBoxDeletePermission(data, type, dataToSet) {
        var html = null;
        if (data['is_delete'] == 1) {
            html = '<div class="text-center"><i class="fa fa-check font-yellow-casablanca"></i></div>';
        } else {
            html = '<div class="text-center"><i class="fa fa-minus font-yellow-casablanca"></i></div>';
        }
        return html;
    }

    function generateRowAction() {
        var html = '<div class="text-center"><div class="btn-group btn-group-circle" style="white-space: nowrap;float: none;display: inline-block;">' +
                            '<button type="button" name="edit_row_button" class="btn green edit" style="float: none;display: inline-block;"><i class="fa fa-pencil"></i></button>' +
                            '<button type="button" name="delete_row_button" class="btn red delete" style="float: none;display: inline-block;"><i class="fa fa-trash"></i></button>' +
                            '</div></div>';
        return html;
    }

    role_select.on("change", function () {
        App.blockUI({
            target: '#permission_table',
            boxed: true,
            message: 'Loading...'
        });

        //oTable.ajax.reload();
        nEditing = null;
        oTable.api().ajax.reload();
        oTable.fnDraw();
        //oTable.fnReloadAjax();
    });
</script>