﻿@{
    var search = Page.search;
}
<script type="text/javascript">


    var result_table = $('#branch_table').DataTable({
        "bFilter": false,
        "order": [[ 0, 'asc' ]],
        "aLengthMenu": [
            [25, 50, 100],
            [25, 50, 100] // change per page values here
        ],
        "columns": [
            { "data": "bid" },
            { "data": "address"},
            { "data": "distric"},
            { "data": "province" },
            { "data": "zip_code" },
            { "data": "tel" },
            { "data": "zone" }
        ],
        // set the initial value
        "iDisplayStart": 0,
        "iDisplayLength": 25,
        "fnPreDrawCallback": function () {
            App.blockUI({
                target: '#branch_table1',
                boxed: true,
                message: 'Loading...'
                })
        },
        "fnDrawCallback": function () {
            App.unblockUI('#search_table');
        },
        "bServerSide": true,
        "sAjaxSource": '../AjaxData/RequestDataTable',
        "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
            aoData.push({ "name": "id", "value": "@Page.id" });
            @if (search == "1")
            { <text>aoData.push({ "name": "sSearch", "value": "@Page.qString" });</text> }
            aoData.push({ "name": "table", "value": "102" });
            oSettings.jqXHR = $.ajax({
                "dataType": 'json',
                "type": "POST",
                "url": sSource,
                "data": aoData,
                "success": function (response) {
                    response = JSON.parse(response);
                    fnCallback(response);
                }
            });
        },
        "scrollX": false
    });
    $("#branch_table tbody").on('click', 'tr', function () {
        var acc_id = $(this).find('td:nth-child(1)').html();
        if (acc_id == null || typeof(acc_id) == "undefined" ||acc_id == "No data available in table") {
            return;
        }
        var window_popup = window.open('CustomerBranch?id=' + acc_id , '_blank');
    });
</script> 