﻿@{
    var jCustomer = @Page.jCustomer;
}

<script type="text/javascript">
   
    
    var btnCreateCostEstimation = $("#create_cost_estimation");

    var check = false;
    $('#customer_tax_request').on('change', function () {
        if ($(this).is(':checked') == true) {
            $(this).val("1");
            $('#customer_tax_box').slideDown();
            $('#customer_tax_address').removeClass("hidden");

        }
        else {
            $(this).val("0");
            $('#customer_tax_box').slideUp();
            $('#customer_tax_address').addClass("hidden");
        }
    }).trigger('change');


         @if (jCustomer != null && jCustomer["is_require_tax"] == 1) {
            <text>
                $('#customer_tax_request').prop("checked",true);
                $('#customer_tax_request').val("1");
                $('#customer_tax_box').slideDown();
                $('#customer_tax_address').removeClass("hidden");
            </text>
        }else
        {
            <text>
                $('#customer_tax_request').prop("checked",false);
                $('#customer_tax_request').val("0");
                $('#customer_tax_box').slideUp();
                $('#customer_tax_address').addClass("hidden");
            </text>
        }

    if ($('#customer_tax_request').is(':checked') == true) {
        $('#customer_tax_request').val("1");
        $('#customer_tax_box').slideDown();
        
    }else{
        $('#customer_tax_request').val("0");
        $('#customer_tax_box').slideUp();

    }


</script>