﻿@{
    var search = Page.search;
}
<script type="text/javascript">
    $("#job_order_search_btn").on("click", function(){
        alert();
    });

    var result_table = $('#job_order_table').DataTable({
        "bFilter": false,
        "order": [[ 0, 'asc' ]],
        "aLengthMenu": [
            [25, 50, 100],
            [25, 50, 100] // change per page values here
        ],
        "columns": [
            { "data": "j_no" },
            { "data": "contract_no"},
            { "data": "brach_name"},
            { "data": "zone" },
            { "data": "service_date" },
            { "data": "status" }
        ],
        // set the initial value
        "iDisplayStart": 0,
        "iDisplayLength": 25,
        "fnPreDrawCallback": function () {
            App.blockUI({
                target: '#job_order_table1',
                boxed: true,
                message: 'Loading...'
                })
        },
        "fnDrawCallback": function () {
            App.unblockUI('#search_table');
        },
        "bServerSide": true,
        "sAjaxSource": '../AjaxData/RequestDataTable',
        "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
            aoData.push({ "name": "id", "value": @Page.id });
            @if (search == "1")
            { <text>aoData.push({ "name": "sSearch", "value": "@Page.qString" });</text> }
            aoData.push({ "name": "table", "value": "103" });
            oSettings.jqXHR = $.ajax({
                "dataType": 'json',
                "type": "POST",
                "url": sSource,
                "data": aoData,
                "success": function (response) {
                    response = JSON.parse(response);
                    fnCallback(response);
                }
            });
        },
        "scrollX": false
    });

    $("#branch_table tbody").on('click', 'tr', function () {
    
        var data = result_table.row(this).data();
        if (data.id == null || typeof(data.id) == "undefined" ||data.id == "No data available in table") {
            return;
        }
        var window_popup = window.open('CustomerProfile?id=' + data.id , '_blank');
    });
</script> 