﻿
@{
    ViewBag.Title = "NewDrinkType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section PageCss{    
    <link href="~/Content/assets/plugins/bootstrap-fileinput/css/fileinput.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" type="text/css" />
}
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject bold uppercase"> NEW DRINK TYPE</span>
        </div>
    </div>
    <form id="new_drink_type">
        <div class="col-sm-6" style="text-align:center">
            <div class="col-sm-6 col-sm-offset-3 margin-top-15" >
                <label class="control-label">IMAGE</label>
                <div id="img_has_image">
                    <input type="file" class="upload" accept="image/*" id="has_image" name="has_image" />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Name NA </label>
                <input class="form-control" id="name_na" name="name_na" value="" type="text" />
            </div>
            <div class="form-group">
                <label>Name EN</label>
                <input class="form-control" id="name_en" type="text" name="name_en" value="" />
            </div>
            <div class="form-group">
                <label>Description</label>
                <input class="form-control" id="description" name="description" value="" type="text" />
            </div>
        </div>
    <button type="button" class="btn btn-info" id="submit_drink_type">SUBMIT</button>
    <button type="button" class="btn btn-default" id="cancle">CANCLE</button>
    </form>
</div>





@section PageJavascriptPre{
        
    <script src="~/Content/assets/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/bootstrap-fileinput/js/fileinput.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>

}

@section PageJavascript{
<script type="text/javascript">
    $('#submit_drink_type').on('click', function () {
        submitType();
    });

    function submitType() {
        var name_na = $('#name_na').val();
        var name_en = $('#name_en').val();
        var description = $('#description').val();
        App.blockUI();
        $.ajax({
            url: '@Url.Action("SubmitType", "AjaxData")',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                name_na: name_na,
                name_en: name_en,
                description: description,
            }),
            success: function (result) {
                App.unblockUI();

                if (result.startsWith("SUCCESS")) {

                    bootbox.alert("SUCCESS", function () {
                        window.location.reload();
                    });
                }
                else {
                    bootbox.alert("Error: Data corrupt, " + result);
                    return;
                    }
                }
            });
    }

    $("#has_image").fileinput({
        showCaption: false,
        showRemove: false,
        showUpload: false,
        showClose: false,
        maxFileSize: 20000, // 20mb
        browseLabel: 'Upload',
        allowedFileExtensions: ['jpg', 'gif', 'png'],
        initialPreview: [
            '<img src="/Content/assets/img/no_image.png" class="file-preview-image" alt="Image" title="Image" style="width:150px; height:150px;">'
        ]
    });

    </script>
}