﻿
@{
    ViewBag.Title = "NewDrinkBrand";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject bold uppercase"> NEW DRINK BRAND</span>
        </div>
    </div>
    <form id="new_drink_brand">
        <div class="form-group">
            <label>ชื่อ(ภาษาไทย) </label>
            <input class="form-control" id="name_na" name="name_na" value="" type="text" />
        </div>
        <div class="form-group">
            <label>Name EN</label>
            <input class="form-control" id="name_en" type="text" name="name_en" value="" />
        </div>
        <div class="form-group">
            <label>Description</label>
            <input class="form-control" id="description" name="description" value="" type="text" />
        </div>
        <button type="button" class="btn btn-info" id="submit_drink_type">SUBMIT</button>
        <button type="button" class="btn btn-default" id="cancle">CANCLE</button>
    </form>
</div>


@section PageJavascriptPre{

}

@section PageJavascript{
    <script type="text/javascript">
        $('#submit_drink_brand').on('click', function () {
            submitBrand();
    });

    function submitBrand() {

        var name_na = $('#name_na').val();
        var name_en = $('#name_en').val();
        var description = $('#description').val();

        App.blockUI();
        $.ajax({
        url: '@Url.Action("SubmitBrand", "AjaxData")',
        type: 'POST',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify({

            name_na: name_na,
            name_en: name_en,
            description: description,
        }),
        success: function (result) {
            App.unblockUI();

            if (result.startsWith("SUCCESS")) {

                bootbox.alert("SUCCESS", function () {
                    window.location.reload();
                });
            }
            else {
                bootbox.alert("Error: Data corrupt, " + result);
                return;
            }
        }
        });
    }
    </script>
}