﻿
@{
    ViewBag.Title = "SearchDrinkType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--BEGIN SEARCH BOX-->
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-search font-green"></i>
            <span class="caption-subject font-green bold uppercase">SEARCH BOARD</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse" data-original-title="" title=""></a>
        </div>
    </div>
    <div class="portlet-body">
        <div style="display:flex; align-items:center; justify-content:center; width: 100%">
            <input id="search_text" type="text" class="form-control" placeholder="Search for..." style="width:50%; height: 50px; font-size: 16px;" />
            <a class="btn btn-primary btn-lg" id="btn_search" style="margin-left:10px; height: 50px; line-height:1.65;"><i class="fa fa-search"></i> SEARCH</a>
            <a class="btn btn-default btn-lg" id="btn_cancel" style="margin-left:10px; height: 50px; line-height:1.65;"><i class="fa fa-close"></i> CANCEL</a>
        </div>
    </div>
</div>
<!--END SEARCH BOX-->
<!--BEGIN TABLE BOX-->
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-car font-green"></i>
            <span class="caption-subject font-green bold uppercase">DRINK TYPE</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse" data-original-title="" title=""></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-sm-12 text-right" style="">
                <a class="btn btn-info" style="margin-bottom:10px; height: 32px;" name="btn_add_type" id=""><i class="fa fa-plus-circle"></i>&ensp;ADD BRAND</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered table-hover" id="search_table">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">IMAGE</th>
                            <th class="text-center">NAME</th>
                            <th class="text-center">DESCRIPTION</th>
                            <th class="text-center">EDIT / DELETE</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--END TABLE BOX-->
