/***
Fullcalendar-custom
***/
/* External events */
.external-event {
  display: inline-block;
  cursor: move;
  margin-bottom: 5px;
  margin-left: 5px; }

.fc-scroller {
  overflow-y: auto;
  overflow-x: hidden; }

.fc-month-view .fc-scroller {
  height: auto !important; }

.portlet .event-form-title {
  font-size: 16px;
  margin-top: 4px;
  font-weight: 400;
  margin-bottom: 10px; }

.portlet.calendar-custom .fc-button {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  border: 0;
  height: 35px;
  padding: 5px 8px 8px 8px;
  margin-left: 2px;
  border-top-style: none;
  border-bottom-style: none;
  border-right-style: solid;
  border-left-style: solid;
  border-color: #ddd;
  background: transparent;
  color: #fff;
  top: -48px;
  outline: none !important;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -ms-border-radius: 2px 2px 0 0;
  -o-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0; }

.portlet.calendar-custom .fc-toolbar {
  margin-bottom: 0px; }
  .portlet.calendar-custom .fc-toolbar h2 {
    margin-top: 3px;
    font-size: 17px; }

.portlet.calendar-custom .fc-header {
  margin-bottom: -21px; }

.portlet.calendar-custom .fc-button-prev {
  padding-right: 10px;
  padding-left: 8px; }

.portlet.calendar-custom .fc-button-next {
  padding-right: 8px;
  padding-left: 10px; }

.portlet.calendar-custom .fc-button .fc-icon {
  height: 20px;
  top: -5px; }

.portlet.calendar-custom .fc-button.fc-state-active, .portlet.calendar-custom .fc-button.fc-state-hover {
  color: #666;
  background-color: #fff; }

.portlet.calendar-custom .fc-button.fc-state-disabled {
  color: #ddd; }

.portlet.calendar-custom .fc-button .fc-icon-left-single-arrow {
  font-family: FontAwesome;
  display: inline-block;
  font-size: 16px; }
  .portlet.calendar-custom .fc-button .fc-icon-left-single-arrow:after {
    content: "";
    margin: 0; }
  .portlet.calendar-custom .fc-button .fc-icon-left-single-arrow:before {
    content: "\f104"; }

.portlet.calendar-custom .fc-button .fc-icon-right-single-arrow {
  font-family: FontAwesome;
  display: inline-block;
  font-size: 16px; }
  .portlet.calendar-custom .fc-button .fc-icon-right-single-arrow:after {
    margin: 0;
    content: ""; }
  .portlet.calendar-custom .fc-button .fc-icon-right-single-arrow:before {
    content: "\f105"; }

.portlet.calendar-custom .fc-text-arrow {
  font-size: 22px;
  font-family: "Courier New", Courier, monospace;
  vertical-align: baseline; }

.portlet.calendar-custom .fc-event {
  border: 0px;
  background-color: #69a4e0;
  color: #fff; }
  .portlet.calendar-custom .fc-event .fc-content {
    border: 0px;
    padding: 5px 7px; }
  .portlet.calendar-custom .fc-event .fc-time {
    float: left;
    text-align: left;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    padding-right: 5px; }
  .portlet.calendar-custom .fc-event .fc-title {
    text-align: left;
    float: left;
    color: #fff;
    font-size: 14px;
    font-weight: 300; }

.portlet.calendar-custom .fc-header-title h2 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #111; }

.portlet.calendar-custom .fc-widget-header {
  background-image: none;
  filter: none;
  background-color: #eee;
  text-transform: uppercase;
  font-weight: 300; }

.portlet.calendar-custom.light .fc-button {
  top: -60px;
  color: #666;
  text-transform: uppercase;
  font-size: 12px;
  padding-bottom: 35px; }
  .portlet.calendar-custom.light .fc-button .fc-text-arrow {
    margin-top: -6px;
    display: inline-block; }
  .portlet.calendar-custom.light .fc-button.fc-state-active, .portlet.calendar-custom.light .fc-button.fc-state-hover {
    color: #333;
    border-bottom: 2px solid #36c6d3; }
  .portlet.calendar-custom.light .fc-button.fc-state-disabled {
    color: #aaa; }

.portlet.calendar-custom .mobile .fc-button {
  padding: 0px 6px 20px 6px;
  margin-left: 2px;
  border: 0;
  background-color: #ddd;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #000;
  text-shadow: none;
  text-align: center; }
  .portlet.calendar-custom .mobile .fc-button.fc-state-hover, .portlet.calendar-custom .mobile .fc-button.fc-state-active {
    background-color: #eee; }
  .portlet.calendar-custom .mobile .fc-button.fc-state-disabled {
    color: #bbb; }

.portlet.calendar-custom .mobile .fc-button-prev {
  margin-right: 5px;
  margin-top: -2px; }

.portlet.calendar-custom .mobile .fc-button-next {
  margin-right: -0px;
  margin-top: -2px; }

.portlet.calendar-custom .mobile .fc-header-space {
  margin: 0px;
  padding: 0px;
  width: 0px; }

.portlet.calendar-custom .mobile .fc-header-left {
  position: absolute;
  z-index: 10; }
  .portlet.calendar-custom .mobile .fc-header-left .fc-button {
    top: -2px; }

.portlet.calendar-custom .mobile .fc-header-right {
  position: relative;
  right: 0; }
  .portlet.calendar-custom .mobile .fc-header-right .fc-button {
    top: 35px; }

.portlet.calendar-custom .mobile .fc-content {
  margin-top: 53px; }

.portlet.calendar-custom.light .fc-button {
  top: -47px; }
